<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725243170629-ilrgtddjta8tokigrudlh1bfvmkck75j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725243170629-ilrgtddjta8tokigrudlh1bfvmkck75j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>725243170629-8vupp2ifd0pcdtn623miuh7lr877n2s9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAABtPYh1kHF-SeX2FE0tuFbWfaAG2TxvM</string>
	<key>GCM_SENDER_ID</key>
	<string>725243170629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.rasondov3</string>
	<key>PROJECT_ID</key>
	<string>rasondo-v3-wpjwei</string>
	<key>STORAGE_BUCKET</key>
	<string>rasondo-v3-wpjwei.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725243170629:ios:b9140e3369f9dd5fa8782c</string>
	<key>DATABASE_URL</key>
	<string>https://rasondo-v3-wpjwei-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>